In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))
import src.config as config

In [5]:
import src.config as config
from src.inference import (
    get_feature_store
)

from datetime import datetime, timezone, timedelta

def get_current_utc_hour_ceiled():
    """Get current UTC time ceiled to the next hour"""
    current = datetime.now(timezone.utc)
    if current.minute > 0 or current.second > 0:
        # Ceil to next hour
        current = current + timedelta(hours=1)

    # Reset minutes, seconds, and microseconds
    current = current.replace(minute=0, second=0, microsecond=0, year = 2024)
    return current

# Usage
current_hour = get_current_utc_hour_ceiled()
print(f"Current UTC hour (ceiled): {current_hour}")

Current UTC hour (ceiled): 2024-05-10 22:00:00+00:00

In [6]:
fs = get_feature_store()
fg = fs.get_feature_group(
    name=config.FEATURE_GROUP_MODEL_PREDICTION,
    version=1
)

query = fg.select_all()
df= query.read(read_options={"arrow_flight_config": {"timeout": 600}})

2025-05-10 17:12:22,082 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-05-10 17:12:22,097 INFO: Initializing external client
2025-05-10 17:12:22,104 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-05-10 17:12:22,825 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214680
Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.51s)

In [7]:
df

    pickup_location_id  predicted_demand               pickup_hour
0              4710.06               9.0 2024-05-10 21:00:00+00:00
1              3696.05               0.0 2024-05-10 21:00:00+00:00
2              4467.03               3.0 2024-05-10 21:00:00+00:00
3              4310.06               2.0 2024-05-10 21:00:00+00:00
4               3981.1               0.0 2024-05-10 21:00:00+00:00
..                 ...               ...                       ...
563            4113.01               0.0 2024-05-10 21:00:00+00:00
564            3211.06              -0.0 2024-05-10 21:00:00+00:00
565            3579.04               2.0 2024-05-10 21:00:00+00:00
566            4513.06               3.0 2024-05-10 21:00:00+00:00
567            3596.04               1.0 2024-05-10 21:00:00+00:00

[568 rows x 3 columns]

In [8]:
fs = get_feature_store()
fg = fs.get_feature_group(name=config.FEATURE_GROUP_MODEL_PREDICTION, version=1)

2025-05-10 17:12:51,525 INFO: Closing external client and cleaning up certificates.
Connection closed.
2025-05-10 17:12:51,535 INFO: Initializing external client
2025-05-10 17:12:51,535 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-05-10 17:12:52,163 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1214680

In [9]:
df = fg.read()

Finished: Reading data from Hopsworks, using Hopsworks Feature Query Service (0.52s)

In [10]:
df

    pickup_location_id  predicted_demand               pickup_hour
0              4710.06               9.0 2024-05-10 21:00:00+00:00
1              3696.05               0.0 2024-05-10 21:00:00+00:00
2              4467.03               3.0 2024-05-10 21:00:00+00:00
3              4310.06               2.0 2024-05-10 21:00:00+00:00
4               3981.1               0.0 2024-05-10 21:00:00+00:00
..                 ...               ...                       ...
563            4113.01               0.0 2024-05-10 21:00:00+00:00
564            3211.06              -0.0 2024-05-10 21:00:00+00:00
565            3579.04               2.0 2024-05-10 21:00:00+00:00
566            4513.06               3.0 2024-05-10 21:00:00+00:00
567            3596.04               1.0 2024-05-10 21:00:00+00:00

[568 rows x 3 columns]

In [11]:
df["pickup_hour"].max()

Timestamp('2024-05-10 21:00:00+0000', tz='Etc/UTC')

In [13]:
now = datetime.now(timezone.utc)
next_hour = (now + timedelta(hours=1)).replace(minute=0, second=0, microsecond=0,year = 2024)
print(next_hour)

2024-05-10 22:00:00+00:00

In [14]:
df[df["pickup_hour"] == next_hour]

Empty DataFrame
Columns: [pickup_location_id, predicted_demand, pickup_hour]
Index: []